.title{
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    margin: 3rem;
    color: #97DFFC;
}

.info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width:480px) {

    .info{
        display: flex;
        flex-direction: column;
        
    }
}