.info{
    min-width: calc(100vw - 55vw);
    margin: auto;
    font-size: 3.5rem;
}

.info h2{
    font-size: 2.5rem;
}
.presentation{
    font-size:  3rem;
    color: #97DFFC;
    animation: fade 1s ease-in;
}

@keyframes fade {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@media screen and (max-width:480px){
    .info{
        font-size: 2rem;
        min-width: calc(100vw - 55vw);
        text-align: center;
        align-self: center;
    }

    .presentation {
        text-align:left;
    }

    .info h2 {
        font-size: 1.25rem;
    }

    .presentation{
        font-size: 1.4rem;
        color: #97DFFC;
        animation: fade 1s ease-in;  
    }
}